/*  Design consistency notes:
    Selectors should be mentioned in the order they appear on screen
*/

/*Fonts*/



/*Keyframes*/



/*Element styling*/
    body {
        background-color: rgb(255, 255, 255);
    }


/*Class styling*/
    /*Navbar*/
    .top-navbar {
        height: 60px;
        display: grid;
        grid-template: 1fr 1fr / repeat(3, 1fr);
        padding: .1rem;
        border-bottom: 2px solid lightgrey;
    }
    .nav-name {
        padding-left: 2rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        font-size: 1.3rem;
    }
    .nav-email {
        padding-left: 2rem;
        grid-column: 1 / 2;
        grid-row: 2;
        font-size: 0.9rem;
        text-decoration: underline;
    }
    .nav-links {
        padding-right: 2rem;
        grid-column: 3 / 4;
        grid-row: 1 / 3;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-links a {
        padding-left: .5rem;
    }

    /*Main*/
    .section {
        height: 512px;
    }

/*ID styling*/
    /*Main*/
    #front-face {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #front-face h1 {
        font-size: 64px;
    }
    #about {
        background-color: antiquewhite;
    }
    

/*@media queries*/