/*  Design consistency notes:
    Selectors should be mentioned in the order they appear on screen
*/

/*Fonts*/



/*Keyframes*/



/*Element styling*/
    body {
        background-color: rgb(255, 255, 255);
    }


/*Class styling*/
    /*Navbar*/
    .top-navbar {
        height: 60px;
        display: grid;
        grid-template: 1fr 1fr / repeat(5, 1fr);
        padding: .1em;
        border-bottom: 2px solid lightgrey;
    }
    .nav-name {
        
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        font-size: 1.3em;
    }
    .nav-email {
        grid-column: 2 / 3;
        grid-row: 2;
        font-size: 0.9em;
        text-decoration: underline;
    }

/*ID styling*/

    

/*@media queries*/